body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #b71c1c;
}

.subtitle {
    color: #555;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 65%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
